<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <connectionStrings>
    <add name="dbConnection" connectionString="Data Source=isclt32;Initial Catalog=employee;User ID=sa;Password=Password@123" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="EmployeeSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:59430/Employee.asmx" binding="basicHttpBinding"
        bindingConfiguration="EmployeeSoap" contract="ServiceReference1.EmployeeSoap"
        name="EmployeeSoap" />
    </client>
  </system.serviceModel>
</configuration>